@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
.container {
  height: 50vh;
  width: 40vh;
  max-width: 290px;
  margin: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background: #000;
  color: white;
}
.images {
  width: 100%;
  /* background: white; */
  background: black;
}
.name {
  font-family: "Kanit", sans-serif;
  margin: 1vh;
  margin-top: 3vh;
  font-size: 2.8vh;
}
.links {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}
.link {
  margin: 1vh;
  margin-top: 0;
}
/* 
@media screen and (max-width: 512px) {
} */
