.main {
  background-color: black;
  color: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.container > div:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-right: 12px;
}
@media (max-width: 668px) {
  .container > div:first-child {
    display: none;
  }
}
.sort_by {
  display: flex;
  color: black;
  font-size: 17px;
  width: min-content;
  justify-content: center;
  align-items: center;
  padding: 7px 5px;
  background-color: white;
  border-radius: 30px;
}
.sort_by > div {
  border-radius: 17px;
  padding: 3px 16px;
}
.sort_by > div:hover {
  cursor: pointer;
}
.sort_by > div:first-child {
  margin-right: 2px;
}
.sort_by > div.active {
  background-color: black;
  color: white;
}
.post_wrapper {
  width: min-content;
  min-width: 171px;
  margin: auto;
}
.navigate {
  float: right;
}
.navigate > i {
  font-size: 24px;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}
.navigate > i:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.navigate > i:first-child {
  margin-right: 10px;
}
.post_grid {
  display: grid;
  min-width: 171px;
  margin: 0;
  padding: 0;
  margin: auto;
  width: min-content;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  grid-gap: 43px 49px;
  padding: 20px;
}

div.post,
div.post_no_cover {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.post_data {
  z-index: 1;
  visibility: hidden;
  height: 0;
  transition: 0.4s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px 6px 0 0;
  color: black;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.post:hover .post_data,
.post_no_cover .post_data {
  height: 100%;
  visibility: visible;
}
h2.post_title {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.post_date {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (max-width: 500px) {
  .post_wrapper {
    margin-top: 50px;
  }
  .navigate i {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px 12px;
  }
  .post_grid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main {
    height: auto;
    min-height: 100vh;
  }
  div.post,
  div.post_no_cover {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    width: 80vw;
    height: 80vw;
  }
  div.post_data {
    height: 80% !important;
    visibility: visible;
  }
}
