@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    height: 12vh;
    font-size: 2.5vh;
    font-family: 'Kanit', sans-serif;
}
.buttons{
    margin: 0 4vh 0 4vh;
}